/*
Project Name:COMP308_Assignment2_Portfolio
File Name:styles.css
Student Name:Atul Sharma
Student ID:300969400
Date: April 3, 2019
*/
/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/images/galaxy-bg.jpg");
}

h1 {
  color: rgb(48, 7, 71);
  text-transform: capitalize;
}
