<app-base-page></app-base-page>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="font-size:7vw" align="center">
      <b>Welcome </b>
    </h1>
    <p class="lead"></p>
    <h5 align="center">
      To <br />
      <h1 align="center">Atul Sharma's Portfolio</h1>
    </h5>
    <br />
    <p class="lead"></p>
    <hr class="my-4" />
    <p>
      Build the best product, cause no unnecessary harm, use business to inspire
      and implement solutions to the environmental crisis.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" href="/aboutme">
        Let's Explore!</a
      >
    </p>
  </div>
</div>
<h1></h1>
<b> Atul Sharma </b>
